[auth]
output = json
region = us-east-1
aws_access_key_id = xxxxxxxxxxxxxxxxx
aws_secret_access_key = xxxxxxxxxxxxxxxxxx


###TEMPORARY MFA CREDENTIALS###
[default]
output = json
region = us-east-1
aws_access_key_id = xxxxxxxxxxxxxxxxxxxxxxxxx
aws_secret_access_key = xxxxxxxxxxxxxxxxxxxxxxx
aws_session_token = xxxxxxxxxxxxxxxxxxxxx 
